.btn {
    border: none;
    border-radius: 5px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn.blue {
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: #007dff;
}

.btn.blue:hover {
    background-color: #005dc3;
}

.ripple {
    transition: background 0.5s;
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}